# ===== Python =====
AutoGameOps/
venv/
.venv/
__pycache__/
.sixth/
.cursor/
.continue/
*.pyc
# ===== NodeJS =====
node_modules/
# ===== Chrome automation =====
chrome_profile/
chrome-user-data/
chrome-data/
.obsididan/
# ===== OS =====
.DS_Store
Thumbs.db



# Ignore Smart Environment folder
.smart-env